<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.cocoaUnitTestBundle</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This target builds a unit test bundle that uses Cocoa APIs and the XCTest framework.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.objectiveCUnitTestBundle</string>
		<string>com.apple.dt.unit.macBase</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importCocoa</string>
	</array>
</dict>
</plist>
